.nav-link {
    color: #7c0c0c;
    text-decoration: none;
    transition: color 0.5s ease, transform 0.5s ease;
    padding: 10px 20px;
}

.nav-link:hover {
    color: #dfded6; /* Cor do texto ao passar o mouse */
    transform: scale(1.4); /* Aumenta o tamanho do link ao passar o mouse */
}
